body {
    overflow:hidden;
    padding: 0;
    margin: 0;
}

google-youtube {
    position:absolute;
    opacity:0.5;
    mix-blend-mode: screen;
    width:100%;
    height:100%;
}

.flipY {
    transform: rotateY(180deg);
}

.flipX {
    transform: rotateX(180deg);
}

.dg.main {
    margin-right: 0px;
}

.dg .cr {
    opacity: 0.33;
}

option {
    background-color: #C2C2C2;
    opacity: 0.50;
}

.close-button {
    opacity: 0.2;
}

li.title {
    opacity: 0.33;
}

li {
    font-size: 12px;
    font-family:monospace;
}

.wtf {
  animation: wtf 24s ease-out;
  animation-iteration-count: infinite;
}

@keyframes wtf {
  0%,
  100% {
    -webkit-filter: blur(0px) brightness(none) hue-rotate(0deg) saturate(none);
  }
  50% {
    -webkit-filter: brightness(2) hue-rotate(180deg) saturate(4) blur(2px);
  }
}

.contrastPulse {
  animation: contrastPulse 8s ease-out;
  animation-iteration-count: infinite;
}

@keyframes contrastPulse {
  0%,
  100% {
    -webkit-filter: brightness(1.1) saturate(1.5) contrast(1);
  }
  50% {
    -webkit-filter: brightness(1.3) saturate(3) contrast(4);
  }
}
