body {
    overflow:hidden;
    padding: 0;
    margin: 0;
}

google-youtube {
    position:absolute;
    opacity:0.5;
    mix-blend-mode: screen;
    width:100%;
    height:100%;
    left: 0px;
}

.dg.main {
    margin-right: 0px;
}

.dg .cr {
    opacity: 0.33;
}

option {
    background-color: #C2C2C2;
    opacity: 0.50;
}

.close-button {
    opacity: 0.2;
}

li.title {
    opacity: 0.33;
}

li {
    font-size: 12px;
    font-family:monospace;
}
